body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App div {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
}

.App div >* {
  padding: .5rem 1rem;
}

/* .App div >*:nth-child(1) {
  background-color: green;
  border: 2px solid green
}
.App div >*:nth-child(2) {
  border: 2px solid yellow;
  background-color: yellow;
}
.App div >*:nth-child(3) {
  border: 2px solid red;
  background-color: red;
} */
